body{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: white;font-size: xx-large;background-color:green;}
h1,h2,h3,h4{text-align: center;text-decoration: underline;font-weight: bolder;}
p{text-align: center;font-weight: bold;}
button{border: double,thick,black;background-color: green;}